@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// $link:#D90368;
$link:#F61067;
$navbar-background-color:rgba(255, 255, 255, 0.8);
$navbar-item-hover-background-color:$navbar-background-color;

@import "~bulma/bulma";